<div class="navbar navbar-expand-lg navbar-dark secondary-color ">
        <div class="container-fluid">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="/"> Home </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/blog"style="color: #FFFFFF">Blogs</a></li>
                </ul>
                

            </div>

                <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_authenticated %}
                  <li><a href="{{url_for('main.profile',uname=current_user.username)}}"style="color: #FFFFFF">Profile</a></li> &nbsp; &nbsp; &nbsp;  
                  <li><a href="{{url_for('auth.logout')}}"style="color: #FFFFFF">Sign out</a></li>
                  {% else %}
                  <li><a href="{{url_for('auth.login')}}"style="color: #FFFFFF">Sign in</a></li>
                  {%endif%}
                </ul>
                 

        </div>
    </div>
